# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
node_modules

venv/
.env
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/